<div layout="column">
  <md-checkbox md-no-ink class="md-primary" type="checkbox" ng-model="$ctrl.location.IT.selected" ng-change="$ctrl.toggleCheckbox('IT')" ng-readonly="$ctrl.ro">
    Italy
  </md-checkbox>
  <md-select ng-model="$ctrl.location.IT.regions" multiple placeholder="select a region" ng-disabled="!$ctrl.location.IT.selected" ng-readonly="$ctrl.ro">
    <md-option ng-value="region.key" ng-repeat="region in $ctrl.regions.IT | orderBy:'name' ">{{region.name}}</md-option>
  </md-select>
  <div>{{$ctrl.printSelectedRegion('IT')}}</div>
</div>
<div layout="column">
  <md-checkbox md-no-ink class="md-primary" type="checkbox" ng-model="$ctrl.location.ES.selected" ng-change="$ctrl.toggleCheckbox('ES')" ng-readonly="$ctrl.ro">
    Spain
  </md-checkbox>
  <md-select ng-model="$ctrl.location.ES.regions" multiple placeholder="select a region" ng-disabled="!$ctrl.location.ES.selected" ng-readonly="$ctrl.ro">
    <md-option ng-value="region.key" ng-repeat="region in $ctrl.regions.ES  | orderBy:'name' ">{{region.name}}</md-option>
  </md-select>
  <div>{{$ctrl.printSelectedRegion('ES')}}</div>
</div>